
.link-button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgba(6, 19, 255, 0.75);
  transition: all ease-in-out .2s;
  border-bottom: 2px solid transparent;
}
